

.header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    /* margin: 2em; */
    margin-top: 4.5rem;
    margin-bottom: 3rem;
  
  }
  .list-nav{
    display: flex;
    gap: 3.5em;
    --gap: clamp(1.5rem, 5vw, 3.5rem);
    --underline-gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "Calibri";
    color: #375A64;
    font-weight: 500;
    font-size: 31px;
    list-style: none;
    margin-right: 40rem;
    margin-left:60rem;   
  }
 .link{
    text-decoration: none;
 }
  .header-logo{
    margin-left: 14rem;
    width: 4.8rem;
    height: 3.8rem;

  }
.button{
    width: fit-content;
    font-size: 30px;
    padding: 20px;
    background: #375A64;
    color: #ffffff;
    margin-top: 2rem;
    border-radius: 20px;
    border-color: #375A64;
    border-bottom-color: #375A64;
    box-shadow: none;
    border-style: none;
}
  /* ------------ */
    /* ============== Nav Animation================== */
    .hover-underline-animation {
      display: inline-block;
      position: relative;
      color: #164659;
    }
    
    .hover-underline-animation:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #164659;
      color:orange;
      
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    
    .hover-underline-animation:hover:after {
       transform: scaleX(1);
      transform-origin: bottom left;
      
    }

    /* -------------------------------------------------------------------------------------- */
    .imageclassify{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .side{
        max-width: 80%;
        margin-left: 10rem;
        margin-top: 4rem;
        min-height: 100%;

    }
    .classifysection{
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        padding-right: 25rem;
        min-width: 50%;
        padding-left: 6rem;
        padding-top: 3rem;
    }
    .classpara{
        font-family: "calibri";
        font-size: 50px;
        color: #375A64;
    }
    .bt{
        display: flex;
        flex-direction: row;
    }
    /* --------------output------------------------- */
    .output{
      font-family: "calibri";
      font-size: 3rem;
      margin-left: 66rem;
      margin-top: 1rem;
      color: #375A64;
    }
    .outputdes{
      font-family: "calibri";
      font-size: 2rem;
      margin-left: 66rem;
      
      }
      #output-wrapper{
        margin-right: 3rem;
       max-width: 700px;
       
      }
      #output-result{
        color: #375A64;
        margin-left: 66rem;
        font-size: 2rem;
        font-family: "calibri";
      }
      #output-api-result{
        color: #ffffff;
        width: 100%;
        height: 100%;
        margin-left: 66rem;
        margin-right: 15rem;
        margin-bottom: 5rem;
        background-color: #375A64;
        padding: 3rem;
        overflow-wrap: break-word;
        border-radius: 20px;
        font-size: 30px;
        font-family: "calibri";
      }
       /* ---------------- footer------------------------------ */
    .footbar{
      background-color: #375A64;
      
      width: 100%;
      height: 100px;
      width: 100%;
     
    }