<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="prereq.css">
    <link rel="stylesheet" href="demo.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/demo.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/prereq.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/manual.css')}}">
   
    <title>Nutrino</title>
    
  </head>
  <body>
    <!-- ----------------------- Navbar section ------------------------------------------------->
    <div class="header">
      <img class="header-logo" src="{{url_for('static', filename='images/logo.svg')}}" alt ="no" >      
      <div class="list-nav mobile-nav-toggle">         
       
          
           <a class ="nav-link hover-underline-animation link"  href ="/">Home</a>
          <a class ="nav-link hover-underline-animation link" href ="image">Prediction</a>          
          <a class ="nav-link hover-underline-animation link" href ="manual"> Blogs</a>
          </div>
    </div> 
   <!-------------------------- container 1 ---------------------------------------------------------------->
  <div class ="manual">
   <h1>GUIDE</h1>
   <p class="manualpara">
    1.GO to Prediction Page <br>
    2.Click Upload image<br>
    3.Click Classify Button<br> 
    4.Prediction Will be displayed on the same Page<br>
   </p>
  </div>
   <!-- ------------------------------------------------------------------------------------- -->
   <div class="footbar">
    <div class="footer">
    <div class="items">

 </div>  
</div>
</div>
  
  
  
  </body>
</html>